<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <center>
        <form action="/update/{{task_id}}" method="POST">

            <label for="">
                Customer_name: <input type="text" name="c_name">
                Customer_city: <input type="text" name="c_city">
            </label><br>
            
            <input type="submit" value="Update">
        </form>
    </center>
</body>
</html>