<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Retrive</title>
    <style>
      tr {
        height: 80px;
      }
      td {
        width: 150px;
        text-decoration: none;
      }
      table {
        text-align: center;
        color: black;
        background-color: #a2b9f9;
        border-color:darkblue;
        border-style:dashed;
        font-size:larger;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <table border="2px solid black" align="center">
      <tr style="font-size:x-large; color: red;">
        <td>id</td>
        <td>c_name</td>
        <td>c_city</td>
        <td colspan="2">Update</td>
      </tr>
      {% for i in store %}
      <tr>
        <td>{{i.id}}</td>
        <td>{{i.c_name}}</td>
        <td>{{i.c_city}}</td>
        <td><a href="/edit2/{{i.task_id}}" style="text-decoration: none; color: blue">edit</a></td>
        <td><a href="/delete/{{i.task_id}}" style="text-decoration: none; color: blue">delete</a></td>
      </tr>
      {%endfor%}
    </table>
  </body>
</html>