<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <center>
        <form action="/update/{{task_id}}" method="POST">

            <label for="">
                subject: <input type="text" name="subject">
                description: <input type="text" name="description">
                date: <input type="date" name="date">
                status: <input type="text" name="status">
            </label><br>
            
            <input type="submit" value="Update">
        </form>
    </center>
</body>
</html>