<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Details</title>
</head>
<body>
    <h2>File Details</h2>
    <table border="1">
        <tr>
            <td>id</td>
            <td>Name</td>
            <td>Mobile</td>
            <td>Edit</td>
            <td>Delete</td>
            <td>Display</td>    
        </tr>

        {% for data in store %}
            <tr>
                <td>{{ data['id'] }}</td>
                <td>{{ data['Name'] }}</td>
                <td>{{ data['Mobile'] }}</td>
                <td><a href="/edit/{{data.id}}">edit</a></td>
                <td><a href='/delete/{{data.id}}'>delete</a></td>
                <td><a href='/display/{{data.id}}'>display</a></td>
            </tr>
        {%endfor%}
    </table> 
</body>
</html>