<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form action="/update_password/{{id.id}}" method="post" enctype="multipart/form-data"></form>
    <div class="container">
        <h1>Change Password</h1>
        <label>{{msg}}</label>
        <div class="a1">

          <label>Old_Password :</label>
          <input type="text" name="Old_Password"><br /><br />
        </div>
        <div class="a1">
          <label>New_Password :</label>
          <input type="text" name="New_Password"><br /><br />
        </div>
        <button type="submit" value="Submit">Submit</button>
    </div>
  </form>
</body>
</html>